
<div class="banner" style="background-image: url('<%= image_path("bgmain.jpg")%>');">
  <div class="tagline">

    <h1>  Portal de empleo remoto en español
    </h1>
    <p> Recibe las últimas ofertas cada semana</p>

    <form action="https://nowmada.us17.list-manage.com/subscribe/post?u=06681d916dc998e5e02141ce6&amp;id=299f6fa8b7" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@email.com" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups - ok-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_06681d916dc998e5e02141ce6_299f6fa8b7" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscríbete" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>

  </div>
</div>

<div class="wrapperjob">
  <div class="jobcontent">
   <!-- <div class="jobbox"> -->

    <div class="jobdetailsright">


      <ul>
        <ol class ="datetitle" id="time">
          <p>Últimas oportunidades</p>
        </ol>
        <% @weekjobs.each do |job| %>
        <%=link_to job_path(job) do%>
        <ol class ="card">

          <div class="photocard">
            <%= cl_image_tag job.photo, height: 50, width: 50, crop: :fill %>
          </div>

          <div class="jobtitle">
            <h5>
              <%=job.title%>
            </h5>
            <p><span style="color:#777676;font-size: 13px">
              <%=job.company%>
              </span> </p>
            <p><span style="color:#cc3838;font-size: 13px;border: solid 2px;padding: 0.25em">
              <%=job.category.capitalize%></span>
              <span style="color:#1c86cc;font-size: 13px;border: solid 2px;padding: 0.25em"><%=job.language%></span>
               </p>
            </div>
            <div class="date">
              <p small><span style="color:#000;font-style:italic;font-size: 9px";>
                <% days = (Date.today - job.created_at.to_date).to_i  %>
                Publicado <%= days %> día(s)</span>
              </p>
            </div>
          </ol>
          <% end %>
        <% end %>
        <ol class="card">
          <div class="question">
          <%= render "questions/new" %>
          </div>
        </ol>
        </ul>

       <div class="jobdetailsright">

        <ul>
          <ol class="card">
            <div class="question">
              <h5>Síguenos para acceder a las últimas oportunidades</h5>
              <div class="socialicon">
                <a href="https://www.facebook.com/groups/nowmada/" id= "socialicon" target="_blank">
                  <%= image_tag("fb.png", size: "50x50", target: '_blank') %>
                <a href="https://twitter.com/esnowmada" target="_blank">
                  <%= image_tag("twitter.png", size: "50x50", target: '_blank') %>
                </a>
                <a href="https://instagram.com/esnowmada" target="_blank">
                  <%= image_tag("insta.png", size: "40x40") %>
                </a>
              </div>
            </div>
          </ol>



          <ol class ="datetitle" id="time">
            <p>Oportunidades anteriores</p>
          </ol>
         <% @alljobs.each do |job| %>
         <%=link_to job_path(job) do%>
         <ol class ="card">

           <div class="photocard">
             <%= cl_image_tag job.photo, height: 50, width: 50, crop: :fill %>
           </div>

          <div class="jobtitle">
            <h5>
              <%=job.title%>
            </h5>
            <p><span style="color:#777676;font-size: 13px">
              <%=job.company%>
              </span> </p>
            <p><span style="color:#cc3838;font-size: 13px;border: solid 2px;padding: 0.25em">
              <%=job.category.capitalize%></span>
              <span style="color:#1c86cc;font-size: 13px;border: solid 2px;padding: 0.25em"><%=job.language%></span>
               </p>
            </div>
            <div class="date">
              <p small><span style="color:#000;font-style:italic;font-size: 9px";>
                <% days = (Date.today - job.created_at.to_date).to_i  %>
                Publicado <%= days %> día(s)</span>
              </p>
           </ol>
           <% end %>
           <% end %>
         </ul>
       </div>
       </div>
     </div>
   </div>




