<h1>Enter job in the DB</h1>

<%= simple_form_for @job do |f| %>
  <%= f.input :title %>
  <%= f.input :company %>
  <%= f.input :desc, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 5}%>
  <%= f.input :url %>
  <%= f.input :type %>
  <%= f.input :contact %>
  <%= f.button :submit %>
<% end %>


