<h1>Enter job in the DB</h1>

<%= simple_form_for @job do |f| %>
  <%= f.input :title %>
  <%= f.input :compagny %>
  <%= f.input :description, as: :text, autofocus: true, :input_html => {:style => 'width: 100%', :rows => 5}, :class => "tinymce" %>
  <%= f.input :url %>
  <%= f.input :email %>
  <%= f.button :submit %>
<% end %>


