
<div class="bannershow " style="background-image: url('<%= image_path("bannershow2.jpg")%>');">
</div>

<div class="wrapperjob">
  <div class="jobcontent">
    <h3><b><%= @job.title%></b>-<b><%= @job.compagny.html_safe%></b></h3>

    <div class="description">
    <%= simple_format(@job.description) %>
    </div>
    <div class="email">
      <p>Email:<%= @job.email %></p>
    </div>

    <div class="apply">
     <button class="btn-apply">
     <%= link_to "Interested apply", "http://#{@job.url}?utm=nowmada" %>
     </button>
     <button class="btn-apply">
      <%=link_to "All remoto jobs", jobs_path%>
    </button>


    </div>




  </div>
</div>

